//====================================================================================================
.footer {
	@include adaptiveValue("margin-top", 60, 30);
	background: #130D00;
	padding: 30px 0;
	display: block;

	&__container {}

	&__text {
		text-align: center;
		font-size: 14px;
		font-weight: 400;
		line-height: math.div(20, 14);
	}
}

//====================================================================================================